<!DOCTYPE html>
<html lang="en">

<head>
    <title>Citizen Registry Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/lesson.css">
    <!-- <script src="/js/nav.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs',{active_link: 1}) %>
    <div class="container">
        <h3>Citizens</h3>

        <!-- To searchbar -->
        <div id="searchbar" class="searchbar">
            <form class="search" action="#">
                <input type="text" id="mySearchBar" autocomplete="off" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- Περιεχομενα του index -->
        <div id="main" style="text-align:center;">
            <div id="load_lessons">

            </div>
            <div id="load_message"></div>
        </div>



        <%- include('./partials/citizenGrid', { citizens: citizens, large: true }) %>
    </div>

</body>

</html>